@use '../helper' as *;

.header {
    padding: 4rem 3rem;
    margin-bottom: 8rem;
    align-items: center;

    .logo img {
        min-width: 18rem;
    }

    .nav-list {
        gap: 5rem;
        align-items: center;
    }

    .btn {
        background: #fff;
        padding: 2rem 3.5rem;
        border-radius: $br-000;
    }

    .mobile-nav-btn {
        display: none;
        cursor: pointer;
    }

    //GREATER MEDIA
    @mixin media($media, $wdth, $p1, $p2, $mw, $g, $p3, $p4) {
        @if $media == greater {
            @media (width >= $wdth) {
                padding: $p1 $p2;

                .logo img {
                    min-width: $mw;
                }
                .nav-list {
                    gap: $g;
                }
                .btn {
                    padding: $p3 $p4;
                }
            }
        } @else if $media == less {
            @media (width <= $wdth) {
                padding: $p1 $p2;

                .logo img {
                    min-width: $mw;
                }
                .nav-list {
                    gap: $g;
                }
                .btn {
                    padding: $p3 $p4;
                }
            }
        }
    }

    //LOWER MEDIA
    @include media(less, 78rem, 3.2rem, 2.8rem, 16rem, 5rem, 1.6rem, 3.1rem);
    @media (width <= 78rem) {
        margin-bottom: 7rem;
    }
    @include media(less, 62rem, 3.2rem, 2.8rem, 16rem, 3rem, 1.6rem, 3.1rem);

    //GREATER MEDIA
    @include media(
        greater,
        107rem,
        4.8rem,
        3.8rem,
        20rem,
        6rem,
        2.4rem,
        3.9rem
    );
    @include media(
        greater,
        138rem,
        5.6rem,
        4.6rem,
        22rem,
        7rem,
        2.8rem,
        4.3rem
    );
    @include media(
        greater,
        169rem,
        6.4rem,
        5.4rem,
        26rem,
        8rem,
        3.2rem,
        4.7rem
    );

    //MOBILE NAVIGATION
    @media (width <= 48rem) {
        .mobile-nav-btn {
            display: block;
        }

        .header-navigation {
            display: none;
            z-index: 100;
            position: absolute;
            background: #fffbf8;
            top: 10rem;
            right: 2.8rem;
            padding: 5rem 7rem;
            inset: 10rem 3rem 40% 3rem;
        }

        .nav-list {
            position: relative;
        }
        .nav-list::before {
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            right: -7rem;
            top: -7rem;

            background: linear-gradient(
                to bottom right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 50%,
                #fffbf8 50%,
                #fffbf8 100%
            );
        }

        .nav-list {
            flex-direction: column;
        }

        .nav-list li:not(:last-child) a {
            color: #818498;
            font-size: 1.8rem;
        }

        .nav-list li:last-child a {
            background: hsl(51, 100%, 49%);
        }

        .nav-list li:nth-child(3) {
            margin-bottom: 2rem;
        }
    }
}
