*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100%;
    font-weight: 400;
    position: relative;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--spread {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.grid {
    display: grid;
}

.grid--2cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid--5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.nav-link {
    color: green;
}
