//FONT SIZE
$fs-000: 1.4rem; //Smallest Font
$fs-050: 1.6rem; //Client Testmony positions
$fs-100: 1.8rem; //Normal Paragraph
$fs-200: 2.8rem; //Client Testimonial header
$fs-300: 3rem; //Graphic Design & Photograph
$fs-400: 3rem; //logo
$fs-500: 4.2rem; //Z pattern headers
$fs-600: 4.8rem; //Hero header

//BORDER-RADIUS
$br-000: 100rem;
